mixin article(id, title, content)
    .panel.panel-default
        .panel-heading
            a(href="/articles/" + id) #{title}
                .pull-right
                    audio(controls)
                        source(src="/testsound" type="audio/mpeg")
        .panel-body #{content}

mixin full_article(title, content, soundFile)
    .panel.panel-default
        .panel-heading
            h1 #{title}
        .panel-body
            h5 Text 2 Music
            audio(controls)
                source(src=soundFile type="audio/wav")
            .padder
            p #{content}